.wrapper {
	max-width: 1246px;
	margin: 0 auto;
	padding-top: 50px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 50px;
	.content {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 0 100px;
		@media (max-width: 1400px) {
			grid-template-columns: 1fr;
		}
		.left {
			.img__wrapper img {
				max-height: 470px;
				width: 500px;
				margin-bottom: 86px;
				border-radius: 20px;
				@media (max-width: 1400px) {
					max-height: 400px;
					width: 430px;
				}
				@media (max-width: 460px) {
					max-height: 280px;
					width: 310px;
				}
			}
			.img__wrapper {
				@media (max-width: 1400px) {
					display: flex;
					justify-content: center;
				}
				
			}
			.description {
				margin-bottom: 50px;
				.description__title {
					color: rgb(62, 66, 75);
					font-family: Jost, sans-serif;
					font-size: 25px;
					font-weight: 700;
					margin-bottom: 20px;
				}
				.description__text {
					color: rgb(62, 66, 75);
					font-family: Jost, sans-serif;
					font-size: 17px;
					font-weight: 400;
					line-height: 140%;
				}
			}
		}
		.right {
			.product__title {
				color: rgb(62, 66, 75);
				font-family: Jost, sans-serif;
				font-size: 30px;
				font-weight: 700;
				line-height: 115%;
				margin-bottom: 20px;
				min-height: 70px;
				@media (max-width: 460px) {
					font-size: 25px;
				}
				@media (max-width: 400px) {
					font-size: 22px;
				}
			}
			.product_rating {
				margin-bottom: 20px;
			}
			.product__price {
				font-size: 24px;
				font-weight: 500;
				color: rgb(62, 66, 75);

				span {
					color: rgb(187, 140, 95);
					font-family: Jost, sans-serif;
					font-size: 24px;
					font-weight: 500;
					line-height: 130%;
					letter-spacing: 0;
					margin-bottom: 10px;
					margin-left: 10px;
					margin-top: 10px;
				}
			}
			.addToCart {
				margin-bottom: 262px;
				@media (max-width: 1400px) {
					margin-bottom: 50px;
				}
				.addToCart__left {
					display: flex;
					flex-direction: column;
					.quantity {
						display: flex;
						gap: 0 25px;
						align-items: center;

						svg {
							cursor: pointer;
						}
						.count__number {
							border: 1.5px solid #bb8c5f;
							padding: 5px 12px;
							width: 50px;
							height: 50px;
							display: flex;
							justify-content: center;
							align-items: center;
							user-select: none;
						}
					}
				}
				.addToCart__right {
					.addToCart__button {
						margin: 0 auto;
						display: inline-flex;
						justify-content: center;
						align-items: center;
						color: #faf6f2;
						text-align: center;
						font-family: Jost, sans-serif;
						font-size: 20px;
						font-style: normal;
						font-weight: 400;
						line-height: 150%;
						background-image: url('../../assets/img/intro-btn.svg');
						background-repeat: no-repeat;
						background-position: center;
						background-size: contain;
						background-color: transparent;
						width: 332px;
						height: 70px;
						transition: 0.3s ease;
						user-select: none;
						position: relative;
						left: -40px;
						margin-top: 30px;
						&:hover {
							opacity: 0.9;
						}
						
					}
				}
			}
			.delivery {
				margin-bottom: 50px;
				.delivery__title {
					color: rgb(62, 66, 75);
					font-family: Jost, sans-serif;
					font-size: 25px;
					font-weight: 700;
					margin-bottom: 20px;
				}
				.delivery__text {
					color: rgb(62, 66, 75);
					font-family: Jost, sans-serif;
					font-size: 17px;
					font-weight: 400;
					line-height: 140%;
				}
			}
		}
	}
}

.loading {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	.loading__icon {
		color: rgb(187, 140, 95);
	}
}

.price__wrapper {
	display: flex;
	margin-bottom: 20px;
	gap: 0 30px;
	align-items: center;
	flex-direction: row-reverse;
	justify-content: space-between;
	width: 100%;
	user-select: none;
	@media (max-width: 400px) {
		justify-content: flex-end;
	}
}
