.all {
    width: 100%;
    min-height: 80vh;
    @media (max-width:1270px) {
        justify-self: center;
        }
    
    .line {
        width: 100%;
        height: 3px;
        background: #D0D0D0;
        border-radius: 3px;
    }
    
    .goods {
        display: grid;
        gap: 40px 20px;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        justify-content: center;
        margin-bottom: 60px;
        .empty {
            max-width: 200px;
        }

        @media (max-width:1630px) {
            //display: none;
        }
    }
    .line {
        margin-top: 15px;
        margin-bottom: 30px;

        @media (max-width:830px) {
           display: none;
        }
        
    }
}

.loading {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;


    p {
        position: absolute;
        left: 0;
        top: 0;
    }

    .spinnerWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .spinner {
        border: 8px solid #f3f3f3;
        border-top: 8px solid #BB8C5F;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        animation: spin 1s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

}

.empty {
    height: 400px;
}